body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  background-color: rgba(8, 8, 8, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8d827777;
}

.active {
  background-color: #ffa704e3;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.feedback {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffa704e3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ffa704e3;
  opacity: 0.7;
}
